body{
    background-color: rgba(235, 255, 184, 0.685); 
}


#profile_pic{
    border: 2px solid brown;
}

.layout{
    font-family: cursive;
}

table{
    color: lightseagreen;
    border: 1px solid #87471f;
    border-color: #87471f;
    border-block-start-color: #87471f;
}

li {
    list-style-type: square;
}
